/* if you want to effect everything */
body{
  background: purple;
}
/* div acts an an encapsulator of sorts */
div{
  background: green;
  border-width: thick;
  border-style: double;
  border-color: black;
}
p{
  color: pink;
}
span{
  color: orange;
  background: yellow;
}
